In [1]:
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
import matplotlib as plt

In [2]:
df = pd.read_csv("phone_data.csv")
df

,Brand,title,storage,Ram,Front Camera,Battery,Resolutions,OS,Inches,price in EGY
0,Honor,x7a,128,4,8,5000,720 x 1600,Android,6.8,7666
1,Apple,iPhone 13,128,4,12,3000,1170 x 2532,iOS,6.1,33333
2,Samsung,Galaxy A14,128,4,13,4000,1080 x 2408,Android,6.6,5899
3,Vivo,Y27,128,6,8,4000,1080 x 2388,Android,6.6,7790
4,iKU,S2,Less,NaN,Not,Below,NaN,NaN,1.8,580
...,...,...,...,...,...,...,...,...,...,...
829,Samsung,Galaxy A54,256,8,32,4000,1080 x 2340,Android,6.4,17399
830,Samsung,Galaxy A54,128,8,32,4000,1080 x 2340,Android,6.4,17600
831,Samsung,Galaxy A54,128,8,32,4000,1080 x 2340,Android,6.4,17600
832,Xiaomi,Redmi Note 12 Pro Plus,256,8,16,4000,1080x2400,Android,6.6,15700
833,Xiaomi,Redmi Note 12 4G,128,8,13,4000,1080 x 2400,Android,6.6,7999

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 834 entries, 0 to 833
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         834 non-null    object
 1   title         834 non-null    object
 2   storage       833 non-null    object
 3   Ram           802 non-null    object
 4   Front Camera  829 non-null    object
 5   Battery       818 non-null    object
 6   Resolutions   722 non-null    object
 7   OS            780 non-null    object
 8   Inches        822 non-null    float64
 9   price in EGY  834 non-null    int64
dtypes: float64(1), int64(1), object(8)
memory usage: 65.3+ KB

In [4]:
df["Ram"].value_counts()
# here we need to remove GB

Ram
4       266
8       195
6        94
2        79
3        70
12       36
Less     21
32       20
1        13
256       3
8GB       1
512       1
4GB       1
3GB       1
32MB      1
Name: count, dtype: int64

In [5]:
df = df.drop("title", axis=1)

In [6]:
df

,Brand,storage,Ram,Front Camera,Battery,Resolutions,OS,Inches,price in EGY
0,Honor,128,4,8,5000,720 x 1600,Android,6.8,7666
1,Apple,128,4,12,3000,1170 x 2532,iOS,6.1,33333
2,Samsung,128,4,13,4000,1080 x 2408,Android,6.6,5899
3,Vivo,128,6,8,4000,1080 x 2388,Android,6.6,7790
4,iKU,Less,NaN,Not,Below,NaN,NaN,1.8,580
...,...,...,...,...,...,...,...,...,...
829,Samsung,256,8,32,4000,1080 x 2340,Android,6.4,17399
830,Samsung,128,8,32,4000,1080 x 2340,Android,6.4,17600
831,Samsung,128,8,32,4000,1080 x 2340,Android,6.4,17600
832,Xiaomi,256,8,16,4000,1080x2400,Android,6.6,15700
833,Xiaomi,128,8,13,4000,1080 x 2400,Android,6.6,7999

In [7]:
pd.get_dummies(df['Brand']).astype(int)

,Ace,Apple,Benco,Blackview,Darago,Google,HTC,Honor,Huawei,Infinix,...,Oppo,Samsung,Tecno,Unitronics,Vivo,Xiaomi,Xtouch,iKU,iTel,realme
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
829,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
830,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
831,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
832,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
833,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [8]:
df = df.join(pd.get_dummies(df['Brand']).astype(int))

In [9]:
df = df.drop('Brand', axis=1)

In [10]:
df

,storage,Ram,Front Camera,Battery,Resolutions,OS,Inches,price in EGY,Ace,Apple,...,Oppo,Samsung,Tecno,Unitronics,Vivo,Xiaomi,Xtouch,iKU,iTel,realme
0,128,4,8,5000,720 x 1600,Android,6.8,7666,0,0,...,0,0,0,0,0,0,0,0,0,0
1,128,4,12,3000,1170 x 2532,iOS,6.1,33333,0,1,...,0,0,0,0,0,0,0,0,0,0
2,128,4,13,4000,1080 x 2408,Android,6.6,5899,0,0,...,0,1,0,0,0,0,0,0,0,0
3,128,6,8,4000,1080 x 2388,Android,6.6,7790,0,0,...,0,0,0,0,1,0,0,0,0,0
4,Less,NaN,Not,Below,NaN,NaN,1.8,580,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
829,256,8,32,4000,1080 x 2340,Android,6.4,17399,0,0,...,0,1,0,0,0,0,0,0,0,0
830,128,8,32,4000,1080 x 2340,Android,6.4,17600,0,0,...,0,1,0,0,0,0,0,0,0,0
831,128,8,32,4000,1080 x 2340,Android,6.4,17600,0,0,...,0,1,0,0,0,0,0,0,0,0
832,256,8,16,4000,1080x2400,Android,6.6,15700,0,0,...,0,0,0,0,0,1,0,0,0,0
833,128,8,13,4000,1080 x 2400,Android,6.6,7999,0,0,...,0,0,0,0,0,1,0,0,0,0

# need to remove any dublicated rows

In [11]:
df.duplicated().value_counts()

False    619
True     215
Name: count, dtype: int64

In [12]:
df = df.drop_duplicates()
df

,storage,Ram,Front Camera,Battery,Resolutions,OS,Inches,price in EGY,Ace,Apple,...,Oppo,Samsung,Tecno,Unitronics,Vivo,Xiaomi,Xtouch,iKU,iTel,realme
0,128,4,8,5000,720 x 1600,Android,6.8,7666,0,0,...,0,0,0,0,0,0,0,0,0,0
1,128,4,12,3000,1170 x 2532,iOS,6.1,33333,0,1,...,0,0,0,0,0,0,0,0,0,0
2,128,4,13,4000,1080 x 2408,Android,6.6,5899,0,0,...,0,1,0,0,0,0,0,0,0,0
3,128,6,8,4000,1080 x 2388,Android,6.6,7790,0,0,...,0,0,0,0,1,0,0,0,0,0
4,Less,NaN,Not,Below,NaN,NaN,1.8,580,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828,256,8,32,4000,1080 x 2340,Android,6.4,15000,0,0,...,0,1,0,0,0,0,0,0,0,0
829,256,8,32,4000,1080 x 2340,Android,6.4,17399,0,0,...,0,1,0,0,0,0,0,0,0,0
830,128,8,32,4000,1080 x 2340,Android,6.4,17600,0,0,...,0,1,0,0,0,0,0,0,0,0
832,256,8,16,4000,1080x2400,Android,6.6,15700,0,0,...,0,0,0,0,0,1,0,0,0,0
833,128,8,13,4000,1080 x 2400,Android,6.6,7999,0,0,...,0,0,0,0,0,1,0,0,0,0

In [13]:
df['Resolutions'].isna().value_counts()

Resolutions
False    533
True      86
Name: count, dtype: int64

In [14]:
df

,storage,Ram,Front Camera,Battery,Resolutions,OS,Inches,price in EGY,Ace,Apple,...,Oppo,Samsung,Tecno,Unitronics,Vivo,Xiaomi,Xtouch,iKU,iTel,realme
0,128,4,8,5000,720 x 1600,Android,6.8,7666,0,0,...,0,0,0,0,0,0,0,0,0,0
1,128,4,12,3000,1170 x 2532,iOS,6.1,33333,0,1,...,0,0,0,0,0,0,0,0,0,0
2,128,4,13,4000,1080 x 2408,Android,6.6,5899,0,0,...,0,1,0,0,0,0,0,0,0,0
3,128,6,8,4000,1080 x 2388,Android,6.6,7790,0,0,...,0,0,0,0,1,0,0,0,0,0
4,Less,NaN,Not,Below,NaN,NaN,1.8,580,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828,256,8,32,4000,1080 x 2340,Android,6.4,15000,0,0,...,0,1,0,0,0,0,0,0,0,0
829,256,8,32,4000,1080 x 2340,Android,6.4,17399,0,0,...,0,1,0,0,0,0,0,0,0,0
830,128,8,32,4000,1080 x 2340,Android,6.4,17600,0,0,...,0,1,0,0,0,0,0,0,0,0
832,256,8,16,4000,1080x2400,Android,6.6,15700,0,0,...,0,0,0,0,0,1,0,0,0,0
833,128,8,13,4000,1080 x 2400,Android,6.6,7999,0,0,...,0,0,0,0,0,1,0,0,0,0

In [15]:
df['storage'] = df['storage'].str.replace('Less', '32')

C:\Users\alprn\AppData\Local\Temp\ipykernel_21216\43615687.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['storage'] = df['storage'].str.replace('Less', '32')

In [16]:
df['storage'] = df['storage'].str.replace('Unidentified', '32')

C:\Users\alprn\AppData\Local\Temp\ipykernel_21216\3562284517.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['storage'] = df['storage'].str.replace('Unidentified', '32')

In [17]:
df

,storage,Ram,Front Camera,Battery,Resolutions,OS,Inches,price in EGY,Ace,Apple,...,Oppo,Samsung,Tecno,Unitronics,Vivo,Xiaomi,Xtouch,iKU,iTel,realme
0,128,4,8,5000,720 x 1600,Android,6.8,7666,0,0,...,0,0,0,0,0,0,0,0,0,0
1,128,4,12,3000,1170 x 2532,iOS,6.1,33333,0,1,...,0,0,0,0,0,0,0,0,0,0
2,128,4,13,4000,1080 x 2408,Android,6.6,5899,0,0,...,0,1,0,0,0,0,0,0,0,0
3,128,6,8,4000,1080 x 2388,Android,6.6,7790,0,0,...,0,0,0,0,1,0,0,0,0,0
4,32,NaN,Not,Below,NaN,NaN,1.8,580,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828,256,8,32,4000,1080 x 2340,Android,6.4,15000,0,0,...,0,1,0,0,0,0,0,0,0,0
829,256,8,32,4000,1080 x 2340,Android,6.4,17399,0,0,...,0,1,0,0,0,0,0,0,0,0
830,128,8,32,4000,1080 x 2340,Android,6.4,17600,0,0,...,0,1,0,0,0,0,0,0,0,0
832,256,8,16,4000,1080x2400,Android,6.6,15700,0,0,...,0,0,0,0,0,1,0,0,0,0
833,128,8,13,4000,1080 x 2400,Android,6.6,7999,0,0,...,0,0,0,0,0,1,0,0,0,0

In [30]:
df['Ram'].isnull().value_counts()

Ram
False    591
True      28
Name: count, dtype: int64

In [19]:
df['Ram'] = df['Ram'].str.replace('Less', '8')

C:\Users\alprn\AppData\Local\Temp\ipykernel_21216\398172859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Ram'] = df['Ram'].str.replace('Less', '8')

In [27]:
df['Ram'] = df['Ram'].str.replace('GB', '')

C:\Users\alprn\AppData\Local\Temp\ipykernel_21216\1346046105.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Ram'] = df['Ram'].str.replace('GB', '')

In [31]:
df['Ram'] = df['Ram'].fillna(value=8)

C:\Users\alprn\AppData\Local\Temp\ipykernel_21216\211532151.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Ram'] = df['Ram'].fillna(value=8)

In [32]:
df['Ram'] = df['Ram'].astype(int)

C:\Users\alprn\AppData\Local\Temp\ipykernel_21216\974961220.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Ram'] = df['Ram'].astype(int)

In [33]:
df['storage'].isnull().sum()

1

In [37]:
df['storage'] = df['storage'].fillna(value=df['storage'].mean())

C:\Users\alprn\AppData\Local\Temp\ipykernel_21216\2579007408.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['storage'] = df['storage'].fillna(value=df['storage'].mean())

In [38]:
df['storage'] = df['storage'].astype(int)

C:\Users\alprn\AppData\Local\Temp\ipykernel_21216\2951169149.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['storage'] = df['storage'].astype(int)

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 619 entries, 0 to 833
Data columns (total 41 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   storage       619 non-null    int32
 1   Ram           619 non-null    int32
 2   Front Camera  619 non-null    int32
 3   Battery       619 non-null    int32
 4   Resolutions   533 non-null    object
 5   Inches        619 non-null    float64
 6   price in EGY  619 non-null    int64
 7   Ace           619 non-null    int32
 8   Apple         619 non-null    int32
 9   Benco         619 non-null    int32
 10  Blackview     619 non-null    int32
 11  Darago        619 non-null    int32
 12  Google        619 non-null    int32
 13  HTC           619 non-null    int32
 14  Honor         619 non-null    int32
 15  Huawei        619 non-null    int32
 16  Infinix       619 non-null    int32
 17  LAVA          619 non-null    int32
 18  Lenovo        619 non-null    int32
 19  Mtouch        619 non-null    int32
 20  Nokia         619 non-null    int32
 21  Oppo          619 non-null    int32
 22  Samsung       619 non-null    int32
 23  Tecno         619 non-null    int32
 24  Unitronics    619 non-null    int32
 25  Vivo          619 non-null    int32
 26  Xiaomi        619 non-null    int32
 27  Xtouch        619 non-null    int32
 28  iKU           619 non-null    int32
 29  iTel          619 non-null    int32
 30  realme        619 non-null    int32
 31  Android       619 non-null    int32
 32  EMUI          619 non-null    int32
 33  HarmonyOS     619 non-null    int32
 34  Itel          619 non-null    int32
 35  Lollipop      619 non-null    int32
 36  Marshmallow   619 non-null    int32
 37  Nougat        619 non-null    int32
 38  Pie           619 non-null    int32
 39  Proprietary   619 non-null    int32
 40  iOS           619 non-null    int32
dtypes: float64(1), int32(38), int64(1), object(1)
memory usage: 127.4+ KB

In [54]:
df['Front Camera'].isna().value_counts()

Front Camera
False    615
True       4
Name: count, dtype: int64

In [48]:
df['Front Camera'] = df['Front Camera'].str.replace('Unidentified', '16')
df['Front Camera'] = df['Front Camera'].str.replace('Dual', '12')
df['Front Camera'] = df['Front Camera'].str.replace('10.8', '5')
df['Front Camera'] = df['Front Camera'].str.replace('VGA', '20')

C:\Users\alprn\AppData\Local\Temp\ipykernel_21216\288274825.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Front Camera'] = df['Front Camera'].str.replace('Unidentified', '16')
C:\Users\alprn\AppData\Local\Temp\ipykernel_21216\288274825.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Front Camera'] = df['Front Camera'].str.replace('Dual', '12')
C:\Users\alprn\AppData\Local\Temp\ipykernel_21216\288274825.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Front Camera'] = df['Front Camera'].str.replace('10.8', '5')
C:\Users\alprn\AppData\Local\Temp\ipykernel_21216\288274825.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Front Camera'] = df['Front Camera'].str.replace('VGA', '20')

In [55]:
df['Front Camera'] = df['Front Camera'].fillna(value=16)

C:\Users\alprn\AppData\Local\Temp\ipykernel_21216\3409834878.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Front Camera'] = df['Front Camera'].fillna(value=16)

In [51]:
df['Front Camera'] = df['Front Camera'].str.replace('Not', '0')

C:\Users\alprn\AppData\Local\Temp\ipykernel_21216\3618974508.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Front Camera'] = df['Front Camera'].str.replace('Not', '0')

In [56]:
df['Front Camera'] = df['Front Camera'].astype(int)

C:\Users\alprn\AppData\Local\Temp\ipykernel_21216\2204941537.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Front Camera'] = df['Front Camera'].astype(int)

In [57]:
df['Inches'] = df['Inches'].fillna(value=df['Inches'].mean())

C:\Users\alprn\AppData\Local\Temp\ipykernel_21216\1839413740.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Inches'] = df['Inches'].fillna(value=df['Inches'].mean())

In [58]:
df['Inches'].isnull().sum()

0

In [67]:
df['Battery'].isna().value_counts()

Battery
False    619
Name: count, dtype: int64

In [63]:
df['Battery'] = df['Battery'].str.replace('mAh', '')
df['Battery'] = df['Battery'].str.replace('Below', '900')
df['Battery'] = df['Battery'].str.replace('8001-9000', '8000')
df['Battery'] = df['Battery'].str.replace('6001-7000', '6000')

C:\Users\alprn\AppData\Local\Temp\ipykernel_21216\1424570016.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Battery'] = df['Battery'].str.replace('mAh', '')
C:\Users\alprn\AppData\Local\Temp\ipykernel_21216\1424570016.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Battery'] = df['Battery'].str.replace('Below', '900')
C:\Users\alprn\AppData\Local\Temp\ipykernel_21216\1424570016.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Battery'] = df['Battery'].str.replace('8001-9000', '8000')
C:\Users\alprn\AppData\Local\Temp\ipykernel_21216\1424570016.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Battery'] = df['Battery'].str.replace('6001-7000', '6000')

In [66]:
df['Battery'] = df['Battery'].fillna(value=3500)

C:\Users\alprn\AppData\Local\Temp\ipykernel_21216\398570821.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Battery'] = df['Battery'].fillna(value=3500)

In [68]:
df['Battery'] = df['Battery'].astype(int)

C:\Users\alprn\AppData\Local\Temp\ipykernel_21216\2233499542.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Battery'] = df['Battery'].astype(int)

In [75]:
df['OS'].value_counts()

OS
Android        512
iOS             84
EMUI            12
Proprietary      5
HarmonyOS        1
Nougat           1
Lollipop         1
Pie              1
Marshmallow      1
Itel             1
Name: count, dtype: int64

In [76]:
df = df.join(pd.get_dummies(df['OS']).astype(int))

In [122]:
df

,storage,Ram,Front Camera,Battery,Inches,price in EGY,Ace,Apple,Benco,Blackview,...,HarmonyOS,Itel,Lollipop,Marshmallow,Nougat,Pie,Proprietary,iOS,Screen width,Screen height
0,128,4,8,5000,6.8,7666,0,0,0,0,...,0,0,0,0,0,0,0,0,720,1600
1,128,4,12,3000,6.1,33333,0,1,0,0,...,0,0,0,0,0,0,0,1,1170,2532
2,128,4,13,4000,6.6,5899,0,0,0,0,...,0,0,0,0,0,0,0,0,1080,2408
3,128,6,8,4000,6.6,7790,0,0,0,0,...,0,0,0,0,0,0,0,0,1080,2388
4,32,8,0,900,1.8,580,0,0,0,0,...,0,0,0,0,0,0,0,0,1080,2400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828,256,8,32,4000,6.4,15000,0,0,0,0,...,0,0,0,0,0,0,0,0,1080,2340
829,256,8,32,4000,6.4,17399,0,0,0,0,...,0,0,0,0,0,0,0,0,1080,2340
830,128,8,32,4000,6.4,17600,0,0,0,0,...,0,0,0,0,0,0,0,0,1080,2340
832,256,8,16,4000,6.6,15700,0,0,0,0,...,0,0,0,0,0,0,0,0,1080,2400
833,128,8,13,4000,6.6,7999,0,0,0,0,...,0,0,0,0,0,0,0,0,1080,2400

In [81]:
df = df.drop("OS", axis=1)

In [113]:
df['Resolutions'].isna().value_counts()

Resolutions
False    619
Name: count, dtype: int64

In [101]:
df['Resolutions'] = df['Resolutions'].str.replace('Pixels', '')
df['Resolutions'] = df['Resolutions'].str.replace('(', '')
df['Resolutions'] = df['Resolutions'].str.replace(')', '')
df['Resolutions'] = df['Resolutions'].str.replace('X', 'x')

In [120]:
df['Screen width'] = df['Resolutions'].str.split('x').apply(lambda x: x[0])
df['Screen height'] = df['Resolutions'].str.split('x').apply(lambda x: x[-1])
# مفيش ايرور عملت رن بعد ما مسحت الكولم ده ومش هعمل رن من الاول انا

KeyError: 'Resolutions'

In [114]:
df = df.drop('Resolutions', axis=1)

In [124]:
df

,storage,Ram,Front Camera,Battery,Inches,price in EGY,Ace,Apple,Benco,Blackview,...,HarmonyOS,Itel,Lollipop,Marshmallow,Nougat,Pie,Proprietary,iOS,Screen width,Screen height
0,128,4,8,5000,6.8,7666,0,0,0,0,...,0,0,0,0,0,0,0,0,720,1600
1,128,4,12,3000,6.1,33333,0,1,0,0,...,0,0,0,0,0,0,0,1,1170,2532
2,128,4,13,4000,6.6,5899,0,0,0,0,...,0,0,0,0,0,0,0,0,1080,2408
3,128,6,8,4000,6.6,7790,0,0,0,0,...,0,0,0,0,0,0,0,0,1080,2388
4,32,8,0,900,1.8,580,0,0,0,0,...,0,0,0,0,0,0,0,0,1080,2400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828,256,8,32,4000,6.4,15000,0,0,0,0,...,0,0,0,0,0,0,0,0,1080,2340
829,256,8,32,4000,6.4,17399,0,0,0,0,...,0,0,0,0,0,0,0,0,1080,2340
830,128,8,32,4000,6.4,17600,0,0,0,0,...,0,0,0,0,0,0,0,0,1080,2340
832,256,8,16,4000,6.6,15700,0,0,0,0,...,0,0,0,0,0,0,0,0,1080,2400
833,128,8,13,4000,6.6,7999,0,0,0,0,...,0,0,0,0,0,0,0,0,1080,2400

In [125]:
gfg_csv_data = df.to_csv('GG.csv', index = True)